/* Outer container holding all elements in one row */
.flex-container {
    display: flex;
    align-items: center;
    gap: 16px; /* Space between groups */
    margin-bottom: 16px; /* Space below */
    margin-top: 8px;
    max-width: 100%;
    width: auto;
    flex-wrap: wrap;
}

/* Group container for label and input (pairing them horizontally) */
.input-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Label styling */
.input-group label {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap; /* Prevent labels from wrapping */
}

/* Orb IP input styling */
.orb-ip-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* Take up available space */
}

/* Custom Clock Number input styling */
.custom-clock-number-input {
    width: 60px; /* Fixed width for smaller input */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-button {
    background-color: #c10000;
}

.delete-button:hover {
    background-color: #770000; /* Darker blue for hover */
}

.edit-button {

}

.edit-button:hover {

}

.update-button {
    background-color: #4e9800;
}

.update-button:hover {
    background-color: #3b7000; /* Darker blue for hover */
}

/* Status indicator (default state is hidden) */
.status-indicator {
    width: 16px;
    height: 16px;
    border-radius: 50%; /* Make it a circle */
    margin-left: 8px; /* Space between input and status circle */
    background-color: transparent;
}

/* Green status (successful connection) */
.status-indicator.green {
    background-color: green;
}

/* Red status (failed connection) */
.status-indicator.red {
    background-color: red;
}

.clock-stats {
    float: right;
    align-items: flex-end; /* Align items to the bottom */
}

.install-info {
    font-size: 14px;
}

.flex-container-right {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 16px; /* Space between groups */
}

.install-button {
    background-color: #4e9800;
}

.install-button:hover {
    background-color: #3b7000;
}