.like-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.like-toggle-disabled {
    cursor: not-allowed;
}

.icon-liked {
    margin-right: 8px;
    color: red;
}

.icon-unliked {
    margin-right: 8px;
    color: lightgray;
}